# Jekyll related
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.jekyll*

# Log and Database files
*.log
*.sql
*.sqlite3

# Operating System files
.DS_Store
Thumbs.db

# Node modules
node_modules/


# VS Code settings
.vscode/

# Environment variable files
.env