body {
    font-family: "Arial";
    padding: 2% 20% 1% 20%;
    background-color: #1b1b2c;
    color: #8e8f99;
    
    
}

.banner {

    text-align: center;
    padding: 2% 5% 1% 5%;
    font-size: 30px;
    font-weight: bold; 
    padding: 2px 1px 5px 0px; 
}

h3, h4, p, ul, img, li {

    margin-left: 2%;
    margin-right: 2%;
}


.block {
    font-size: 22px;
    padding: 2px 1px 5px 0px;
    border-style: none double;

}

.navbar {

    font-size: 17px;
    text-align: center;
}

a {
    color: #6699ff;
}



