<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
</head>
<body class="bg-neutral-800 border-neutral-800">
    <header class="text-white p-4">
        <div class="container mx-auto px-4 py-4 flex space-x-10 items-center">
            <a href="index.html" class="text-3xl underline">Zachary Dawood</a>
            <a href="projects.html" class="text-2xl no-underline hover:underline">Projects</a>
            <a href="music.html" class="text-2xl no-underline hover:underline">Music</a>
        </div>
    </header>
    
    <main class="container mx-auto mt-4 text-slate-100 text-lg">
        {{ content }}
    </main>
    
</body>
</html>