<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
</head>
<body class="bg-neutral-800">
    <header class="bg-sky-800 text-white p-4">
        <div class="container mx-auto px-4 py-4 flex space-x-10 items-center">
            <a href="index.html" class="text-3xl">Zachary Dawood</a>
            <a href="about.html" class="text-2xl">About</a>
            <a href="#" class="text-2xl">Projects</a>
            <a href="#" class="text-2xl">Music</a>
        </div>
    </header>
    
    <main class="container mx-auto mt-4 text-slate-100">
        {{ content }}
    </main>
    
</body>
</html>